body{
    text-align: center;
    padding-top: 50px;
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMThiYXRjaDktYXVtLTA2XzEuanBn.jpg);
    background-size: 100%;
    font-size: large;
    font-family: cursive;
}
form *{
    max-width: 66%;
    margin: 20px 0px;
    padding: 10px;
    background-color: #CB9DF0;
    font-size: large;
}
form p{
    text-align: center;
    background-color: transparent;
    max-width: 98%;
}
form label{
    margin: 20px 5px;
    padding: 10px;
    background-color: #cb9df000;
    font-size: large;
}
form input[type="submit"]{
    max-width: 100%;
    width: 350px;
}
form a{
    width: 347px;
    max-width: 100%;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    display: block;
    margin: auto;
    padding: 8px 0px;
}
a:hover, form input[type="submit"]:hover{
    background-color: #74459a;
    color:white;
}